.section4{
	display: grid;
	grid-template-columns: 1fr 1fr;
 
	padding: 100px;
}
.section4 .left{
    
}


.section4 .left h6{
	font-size: 18px;
	line-height: 21.6px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 20px 0;
}
.section4 .left .h2{
	padding: 20px 0;
}
.section4 .left .h2 .bg-h2{
	height: 30px;
	width: 320px;
	background-color: #58bc48;
	opacity: 0.5;
	 
}
.section4 .left .h2{
    position: relative;
}
.section4 .left  .h2 h2{
	font-size: 36px;
	line-height: 43.2px;
	font-weight: bold;
	position: absolute;
	top: -10%;
}

.section4 .left .p{
	position: relative;
}
.section4 .left .p img{
	width: 100%;
	height: 180px;
	background-size: cover;
	object-fit: cover;

}
.section4 .left .p p{
	font-size: 17px;
	line-height: 25.6px;
	position: absolute;
	bottom: 25%;
	padding-right: 25%;
}

.section4 .left ul{
	padding: 0 0 50px 10px;
}
.section4 .left ul li{
	color: #808080;
	font-size: 16px;
	line-height: 25.6px;
	font-weight: bold;
}
.section4 .left a{
	color: #0f0f0f;
	text-decoration: none;
	position: relative;
	font-size: 16px;
	line-height: 28.8px;
	letter-spacing: 1px;
	font-weight: bold;
}
.section4 .left a:after{
	width: 100%;
	height: 2px;
	bottom: -20%;
	left: 0;
	content: "";
	background-color: #e27162;
	position: absolute;
}


.section4 .right{
	 position: relative;
}
.section4 .right img{
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 object-fit: contain;
}
.section4 .right .bg-img{
	background-image: linear-gradient(#634d55, #d53d29);
	width: 90%;
	height: 100%;
	border-radius: 50%; 
}

@media (max-width: 1100px){
	.section4{
		padding: 100px 20px;
	}
}
@media (max-width: 770px){
    .section4{
    	grid-template-columns: 100%;
    	grid-auto-rows: minmax(500px,auto);

    }
}
@media (max-width: 400px){
	.section4 {
        padding: 100px 0;
	}
	.section4 .left{
		 
	}
	.section4 .left .p p{
		bottom: 0;
		
		padding: 10px 0;
	}
}